In [1]:
import numpy as np
import pandas as pd

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

In [2]:
df=pd.read_csv('StudentPerf.csv')

In [3]:
df

,Unnamed: 0,Assignment_Marks,Submission_Time,Test_Marks,Class,Performance
0,0,88,0,31,10,Bad
1,1,32,1,64,10,Bad
2,2,79,1,17,5,Bad
3,3,49,1,13,10,Bad
4,4,20,0,0,1,Bad
...,...,...,...,...,...,...
1000,995,91,1,74,9,Good
1001,996,29,0,55,11,Bad
1002,997,92,1,77,6,Good
1003,998,43,1,91,2,Bad
1004,999,43,0,58,2,Bad

In [4]:
df.duplicated().sum()

0

In [5]:
df['Performance']=df['Performance'].map({'Bad':0,'Good':1,'Very Good':2})

In [6]:
df

,Unnamed: 0,Assignment_Marks,Submission_Time,Test_Marks,Class,Performance
0,0,88,0,31,10,0
1,1,32,1,64,10,0
2,2,79,1,17,5,0
3,3,49,1,13,10,0
4,4,20,0,0,1,0
...,...,...,...,...,...,...
1000,995,91,1,74,9,1
1001,996,29,0,55,11,0
1002,997,92,1,77,6,1
1003,998,43,1,91,2,0
1004,999,43,0,58,2,0

In [7]:
X=df.iloc[:,1:5]
y=df.iloc[:,5:]

In [8]:
y

      Performance
0               0
1               0
2               0
3               0
4               0
...           ...
1000            1
1001            0
1002            1
1003            0
1004            0

[1005 rows x 1 columns]

In [9]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.25)

In [10]:
rf=RandomForestClassifier()
rf.fit(X_train,y_train)

c:\Program Files\Python311\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier()

In [11]:
y_pred=rf.predict(X_test)

In [12]:
accuracy=accuracy_score(y_test,y_pred)

In [13]:
print("Accuracy", accuracy)

Accuracy 0.9920634920634921

In [30]:
rf.predict([[99,0,99,6]])

c:\Program Files\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([2], dtype=int64)